### Cleaning the dataset CovidDeaths from Null values for SQL project from the Alex the Analyst Youtube channel

### Initialization

In [1]:
# Cargar todas las librer√≠as

import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import scipy.stats as st
import plotly.express as px
import re
from datetime import datetime
from statsmodels.stats.proportion import proportions_ztest

from importlib import reload
plt=reload(plt)

In [4]:
# Carga el archivo de datos

df_deaths = pd.read_csv('CovidDeaths.csv')

In [5]:
df_deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409924 entries, 0 to 409923
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0                                       409924 non-null  object
 1   continent                           390177 non-null  object
 2   location                            409924 non-null  object
 3   date                                409924 non-null  object
 4   population                          409924 non-null  int64
 5   total_cases                         370544 non-null  float64
 6   new_cases                           398301 non-null  float64
 7   new_cases_smoothed                  397071 non-null  float64
 8   total_deaths                        347781 non-null  float64
 9   new_deaths                          398701 non-null  float64
 10  new_deaths_smoothed                 397471 non-null  float64
 11  total_cases_per_million             370544 non-null  float64
 12  new_cases_per_million               398301 non-null  float64
 13  new_cases_smoothed_per_million      397071 non-null  float64
 14  total_deaths_per_million            347781 non-null  float64
 15  new_deaths_per_million              398701 non-null  float64
 16  new_deaths_smoothed_per_million     397471 non-null  float64
 17  reproduction_rate                   184817 non-null  float64
 18  icu_patients                        39032 non-null   float64
 19  icu_patients_per_million            39032 non-null   float64
 20  hosp_patients                       40572 non-null   float64
 21  hosp_patients_per_million           40572 non-null   float64
 22  weekly_icu_admissions               10937 non-null   float64
 23  weekly_icu_admissions_per_million   10937 non-null   float64
 24  weekly_hosp_admissions              24441 non-null   float64
 25  weekly_hosp_admissions_per_million  24441 non-null   float64
dtypes: float64(21), int64(1), object(4)
memory usage: 81.3+ MB

In [6]:
df_deaths.columns

Index([' ', 'continent', 'location', 'date', 'population', 'total_cases',
       'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million'],
      dtype='object')

In [7]:
df_deaths.shape

(409924, 26)

In [8]:
df_deaths.duplicated().sum()

0

In [9]:
df_deaths.isna().sum()

                                           0
continent                              19747
location                                   0
date                                       0
population                                 0
total_cases                            39380
new_cases                              11623
new_cases_smoothed                     12853
total_deaths                           62143
new_deaths                             11223
new_deaths_smoothed                    12453
total_cases_per_million                39380
new_cases_per_million                  11623
new_cases_smoothed_per_million         12853
total_deaths_per_million               62143
new_deaths_per_million                 11223
new_deaths_smoothed_per_million        12453
reproduction_rate                     225107
icu_patients                          370892
icu_patients_per_million              370892
hosp_patients                         369352
hosp_patients_per_million             369352
weekly_icu_admissions                 398987
weekly_icu_admissions_per_million     398987
weekly_hosp_admissions                385483
weekly_hosp_admissions_per_million    385483
dtype: int64

In [10]:
# Deleting the NaNs rows in column chain
df_deaths = df_deaths.dropna(subset=['total_cases'])

In [11]:
df_deaths = df_deaths.dropna(subset=['total_deaths'])

In [12]:
df_deaths.isna().sum()

                                           0
continent                              19143
location                                   0
date                                       0
population                                 0
total_cases                                0
new_cases                               1447
new_cases_smoothed                      1472
total_deaths                               0
new_deaths                              1048
new_deaths_smoothed                     1073
total_cases_per_million                    0
new_cases_per_million                   1447
new_cases_smoothed_per_million          1472
total_deaths_per_million                   0
new_deaths_per_million                  1048
new_deaths_smoothed_per_million         1073
reproduction_rate                     167698
icu_patients                          313288
icu_patients_per_million              313288
hosp_patients                         312696
hosp_patients_per_million             312696
weekly_icu_admissions                 336932
weekly_icu_admissions_per_million     336932
weekly_hosp_admissions                328284
weekly_hosp_admissions_per_million    328284
dtype: int64

In [21]:
newdf_deaths = df_deaths.copy()

In [24]:
newdf_deaths.columns

Index([' ', 'continent', 'location', 'date', 'population', 'total_cases',
       'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million'],
      dtype='object')

In [39]:
#df['col'].replace('  ', np.nan, inplace=True) # Example of the repalcement of the empty cell in the dataframe 

#newdf_deaths['continent'].replace('', np.nan, inplace=True)  # NO FUNCIONO BIEN
newdf_deaths.replace('', np.nan).dropna(subset=['continent']) # ESTE SIII

,,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
84,AFG,Asia,Afghanistan,29/03/2020,41128772,91.0,67.0,9.571,2.0,2.0,...,0.007,1.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,AFG,Asia,Afghanistan,30/03/2020,41128772,91.0,0.0,9.571,2.0,0.0,...,0.007,1.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,AFG,Asia,Afghanistan,31/03/2020,41128772,91.0,0.0,9.571,2.0,0.0,...,0.007,1.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,AFG,Asia,Afghanistan,01/04/2020,41128772,91.0,0.0,9.571,2.0,0.0,...,0.007,1.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,AFG,Asia,Afghanistan,02/04/2020,41128772,91.0,0.0,9.571,2.0,0.0,...,0.007,1.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409919,ZWE,Africa,Zimbabwe,12/06/2024,16320539,266365.0,0.0,0.000,5740.0,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409920,ZWE,Africa,Zimbabwe,13/06/2024,16320539,266365.0,0.0,0.000,5740.0,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409921,ZWE,Africa,Zimbabwe,14/06/2024,16320539,266365.0,0.0,0.000,5740.0,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409922,ZWE,Africa,Zimbabwe,15/06/2024,16320539,266365.0,0.0,0.000,5740.0,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409923,ZWE,Africa,Zimbabwe,16/06/2024,16320539,266365.0,0.0,0.000,5740.0,0.0,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#df= df.dropna(subset=['col'])
newdf_deaths = newdf_deaths.dropna(subset=['continent']) # ESTE SIII

In [42]:
newdf_deaths.isna().sum()

                                           0
continent                                  0
location                                   0
date                                       0
population                                 0
total_cases                                0
new_cases                               1447
new_cases_smoothed                      1452
total_deaths                               0
new_deaths                              1048
new_deaths_smoothed                     1053
total_cases_per_million                    0
new_cases_per_million                   1447
new_cases_smoothed_per_million          1452
total_deaths_per_million                   0
new_deaths_per_million                  1048
new_deaths_smoothed_per_million         1053
reproduction_rate                     149631
icu_patients                          294145
icu_patients_per_million              294145
hosp_patients                         293553
hosp_patients_per_million             293553
weekly_icu_admissions                 317789
weekly_icu_admissions_per_million     317789
weekly_hosp_admissions                309141
weekly_hosp_admissions_per_million    309141
dtype: int64

In [44]:
# For counting all the empty cell as a percetange

#(newdf_deaths[newdf_deaths == ''].count())/newdf_deaths.shape[0] *100

In [45]:
newdf_deaths.replace('', np.nan).dropna(subset=['total_deaths']) # ESTE SIII  parte 1
newdf_deaths = newdf_deaths.dropna(subset=['total_deaths']) # ESTE SIII  parte 2

In [46]:
newdf_deaths.isna().sum()

                                           0
continent                                  0
location                                   0
date                                       0
population                                 0
total_cases                                0
new_cases                               1447
new_cases_smoothed                      1452
total_deaths                               0
new_deaths                              1048
new_deaths_smoothed                     1053
total_cases_per_million                    0
new_cases_per_million                   1447
new_cases_smoothed_per_million          1452
total_deaths_per_million                   0
new_deaths_per_million                  1048
new_deaths_smoothed_per_million         1053
reproduction_rate                     149631
icu_patients                          294145
icu_patients_per_million              294145
hosp_patients                         293553
hosp_patients_per_million             293553
weekly_icu_admissions                 317789
weekly_icu_admissions_per_million     317789
weekly_hosp_admissions                309141
weekly_hosp_admissions_per_million    309141
dtype: int64

In [47]:
newdf_deaths.to_csv("CovidDeaths2_some_clean_performanced.csv")